.contact-card {
    /* width: 42%; */
    height: 12vw;
    border: 3px #d4af37 solid;
    display: flex;
    align-items: center;
    
}

.contact-card:not(:last-child) {
    margin-bottom: 3%;
}

.contact-image {
    height: 80%;
    width: auto;
    margin-left: 5%;
    margin-right: 5%;
}

.contact-text {
    margin-left: 5%;
    display: flex;
    flex-direction: column;
    height: 80%;
}

.contact-text p {
    margin: 0;
}

.contact-text .description {
    color: #d4af37;
    font-size: 2.3vw;
    font-weight: bold;
}

.contact-text .name {
    font-size: 1.8vw;
}

.contact-text .phone {
    margin-top: 20px;
    font-size: 2.4vw;
}

.parents-contact-text {
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.parents-contact-text p {
    margin: 0;
}

.parents-description {
    color: #d4af37;
    font-size: 1.9vw;
    font-weight: bold;
}

.parents-phone {
    margin-top: 20px;
    font-size: 2.2vw;
}

@media (max-width: 1024px) {

    .contact-text .description,
    .parents-description {
        font-size: 3vw;
    }
    
    .contact-text .name {
        font-size: 3vw;
    }

    .parents-phone,
    .contact-text .phone {
        margin-top: 15px;
        font-size: 3.5vw;
    }
    .contact-card {
        border: 2px #d4af37 solid;
        height: 19vw;
    }
}

@media (max-width: 640px) {
    .parents-description,
    .contact-text .description {
        font-size: 4vw;
    }
    
    .contact-text .name {
        font-size: 4vw;
    }
    .parents-phone,
    .contact-text .phone {
        margin-top: 8px;
        font-size: 4vw;
    }
    .contact-card {
        border: 1px #d4af37 solid;
        height: 21vw;
    }
}

@media (max-width: 480px) {
    .parents-description,
    .contact-text .description {
        font-size: 5vw;
    }
    
    .contact-text .name {
        font-size: 5vw;
    }
    .parents-phone,
    .contact-text .phone {
        margin-top: 8px;
        font-size: 5vw;
    }
    .contact-card {
        height: 26vw;
    }
}