#counter {
    width: 100vw;
    max-width: 100%;
    min-height: fit-content;
    height: 65vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#counter .title {
    height: 15vw;
}

.counter-container {
    height: fit-content;
    position: relative;
    text-align: center;
}

.counter-container .left-corner {
    position: absolute;
    left: 0px;
    top: 0;
}

.counter-container .right-corner {
    position: absolute;
    right: 0px;
    bottom: 0;
}

.counter {
    margin: auto;
    width: 70%;
    display: flex;
    justify-content: center;
}

.counter-item {
    margin-left: 3vw;
    margin-right: 3vw;
    margin-top: 20px;
    /* margin-bottom: 20px; */
    display: flex;
    flex-direction: column;
}

.counter-item .value {
    font-weight: bold;
    font-size: 5vw;
    color: #d4af37;
    margin-bottom: 5px;
    margin-top: 5px;
    text-shadow: 0 0 10px white;
}

.counter-item .description {
    font-size: 4vw;
}

@media (max-width: 1024px) {

    #counter .title {
        height: 17vw;
    }

    .counter-item .value {
        font-size: 6vw;
    }

    .counter-item .description {
        font-size: 5vw;
    }

    .counter {
        width: 75%;
    }
}

@media (max-width: 640px) {

    #counter .title {
        height: 19vw;
    }

    .counter-item .value {
        font-size: 7vw;
    }

    .counter-item .description {
        font-size: 6vw;
    }

    .counter {
        width: 80%;
    }
}

@media (max-width: 480px) {

    #counter .title {
        height: 21vw;
    }

    .counter-item .value {
        font-size: 8vw;
    }

    .counter-item .description {
        font-size: 7vw;
    }

    .counter {
        width: 80%;
    }
}