@import './header.css';
@import './title.css';
@import './counter.css';
@import './informations.css';
@import './contact-card.css';
@import './top-bar.css';
@import './top-bar-mobile.css';
@import './our-story.css';
@import './footer.css';
@import './localization.css';
@import './spinner.css';

:root {
    --main-gold-color: #d4af37;
  }

html {
    scroll-behavior: smooth;
    font-family: 'Dancing Script';
}

body {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

::-webkit-scrollbar {
    width: 7px;
  }
  
/* Track */
::-webkit-scrollbar-track {
    background: rgb(44, 44, 44); 
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #d4af37;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: white;
} 

.react-parallax {
    max-width: 100%;
}

mark.gold {
    color: #d4af37;
    background: none;
}

::selection {
    background: #d4af37;
}

::-moz-selection {
    background: #d4af37;
}