.informations {
    width: 70%;
    margin: auto;
    margin-bottom: 160px;
}

.informations p {
    font-family: 'Muli', sans-serif;
    font-size: 40px;
    text-align: justify;
    margin: 0;
}

.contact {
    width: 70%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 150px;
}

.contact-cards {
    width: 48%;
    display: flex;
    flex-direction: column;
}

.contact-bcg {
    width: 50%;
    background-size: cover;
}